<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iBood_Hunt_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iBood_Hunt_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <iBood_Hunt_Checker.Properties.Settings>
            <setting name="OffersLocation" serializeAs="String">
                <value>http://feeds.ibood.com/{0}be/nl/offer.json</value>
            </setting>
            <setting name="StockLocation" serializeAs="String">
                <value>http://feeds.ibood.com/be/stock.json</value>
            </setting>
            <setting name="IDKey" serializeAs="String">
                <value>Id</value>
            </setting>
            <setting name="IDStart" serializeAs="String">
                <value />
            </setting>
            <setting name="IDEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleKey" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="TitleStart" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageKey" serializeAs="String">
                <value>Image</value>
            </setting>
            <setting name="ImageStart" serializeAs="String">
                <value>data-large="//</value>
            </setting>
            <setting name="ImageEnd" serializeAs="String">
                <value>" </value>
            </setting>
            <setting name="PermalinkKey" serializeAs="String">
                <value>Permalink</value>
            </setting>
            <setting name="PermalinkStart" serializeAs="String">
                <value />
            </setting>
            <setting name="PermalinkEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="OldPriceKey" serializeAs="String">
                <value>Price</value>
            </setting>
            <setting name="OldPriceStart" serializeAs="String">
                <value>"old-price"&gt;&lt;span class="strike"&gt;&lt;span&gt;€ </value>
            </setting>
            <setting name="OldPriceEnd" serializeAs="String">
                <value>&lt;/span&gt;</value>
            </setting>
            <setting name="NewPriceKey" serializeAs="String">
                <value>Price</value>
            </setting>
            <setting name="NewPriceStart" serializeAs="String">
                <value>"new-price"&gt;€ </value>
            </setting>
            <setting name="NewPriceEnd" serializeAs="String">
                <value>&lt;/span&gt;</value>
            </setting>
            <setting name="StockStart" serializeAs="String">
                <value>:[{0},</value>
            </setting>
            <setting name="StockEnd" serializeAs="String">
                <value>]</value>
            </setting>
        </iBood_Hunt_Checker.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <iBood_Hunt_Checker.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </iBood_Hunt_Checker.Properties.Settings>
    </userSettings>
</configuration>